
@font-face {font-family:'0xA000-Regular';src:url('0xA000-Regular.ttf');}
@font-face {font-family:'0xA000-Bold';src:url('0xA000-Bold.ttf');}
@font-face {font-family:'0xA000-Squareish';src:url('0xA000-Squareish.ttf');}
@font-face {font-family:'0xA000-Squareish-Bold';src:url('0xA000-Squareish-Bold.ttf');}
@font-face {font-family:'0xA000-Pixelated';src:url('0xA000-Pixelated.ttf');}
@font-face {font-family:'0xA000-Monochrome';src:url('0xA000-Monochrome.ttf');}
@font-face {font-family:'0xA000-Mono';src:url('0xA000-Mono.ttf');}
@font-face {font-family:'0xA000-Mono-Bold';src:url('0xA000-Mono-Bold.ttf');}
@font-face {font-family:'0xA000-Squareish-Mono';src:url('0xA000-Squareish-Mono.ttf');}
@font-face {font-family:'0xA000-Squareish-Mono-Bold';src:url('0xA000-Squareish-Mono-Bold.ttf');}
@font-face {font-family:'0xA000-Pixelated-Mono';src:url('0xA000-Pixelated-Mono.ttf');}
@font-face {font-family:'0xA000-Boxes';src:url('0xA000-Boxes.ttf');}
@font-face {font-family:'0xA000-Dots';src:url('0xA000-Dots.ttf');}
@font-face {font-family:'0xA000-Dots-Mono';src:url('0xA000-Dots-Mono.ttf');}
