@font-face {font-family:'0xA000-Sans';     src: url('0xA000-Sans.ttf');}
@font-face {font-family:'0xA000-Mono';     src: url('0xA000-Mono.ttf');}
@font-face {font-family:'0xA000-MonoSans'; src: url('0xA000-MonoSans.ttf');}
@font-face {font-family:'0xA000-Pixelated';src: url('0xA000-Pixelated.ttf');}
@font-face {font-family:'0xA000-Dots';     src: url('0xA000-Dots.ttf');}
body       {font-family: '0xA000-Sans'; font-size: 15px;
            background-color: #eeeeee;}
tt, pre    {font-family: '0xA000-MonoSans'; }
p          {line-height: 120%;}
small      {font-size  :  5px;line-height:150%;}
h1         {font-size  :  3em; font-weight: normal; margin: 0.5em 0 0.25em}
h2         {font-size  :  2em; font-weight: normal; margin: 1.0em 0 0 0}
h3,h4      {font-size  :1.5em; font-weight: normal; margin: 0 0 0 0}

li         {list-style-type: none; list-style: none; }
li:before  {content: "• "; position: relative -1em; overflow: visible;
            margin-left: -1.5em;}
ul         {padding-left: 1em}

em         {font-style: normal; color: #909;}
div        {margin-top: 1.0em;}
body       {margin: 0 auto; }
.waterfall div {margin: 0;padding:0}
a { color: #182; text-decoration:none}
a:hover    { text-decoration: underline }
.selected, .faces>a.selected  { color: #000;
                              text-decoration: underline;}
.sans      {font-family: '0xA000-Sans';}
.monosans  {font-family: '0xA000-MonoSans';}
.copy      { text-align: right;}
.content   {margin-left: 200px;margin-right:180px;margin-top: 1em;
            min-width: 20em; max-width: 45em;
           }

div.glyph {
  font-family: '0xA000-Sans';
  display: block;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
 .label  {
   margin:0;
   padding-top:0.3em;
   background: #eee;
 }
 .unicode { margin:0; padding-left:0.2em;
 }
 .reference {
   margin: 0;
   padding-right: 0.5em;
   padding-left: 0.5em;
 }
 .label2  {
   margin: 0;
   padding: 0;
   background: #eee;
   padding-top: 1px;
   padding-left: 0.2em;
 }

.rendering-Pixelated,
.rendering-Mono,
.rendering-Monosans,
.rendering-Reference,
.rendering-Dots,
.rendering-Sans {
   font-size: 50px;
   color: black;
   margin-top: 0.25em;
   margin-left: 0.5em;
   margin-bottom: 0.1em;
   background: white;
   padding: 0;
}

 .rendering-Reference {
   font-family: 'Sans';
 }
 .rendering-Pixelated {
   font-family: '0xA000-Pixelated';
 }
 .rendering-Mono {
   font-family: '0xA000-Mono';
 }
 .rendering-Monosans {
   font-family: '0xA000-MonoSans';
 }
 .rendering-Sans {
   font-family: '0xA000-Sans';
 }
 .rendering-Dots {
   font-family: '0xA000-Dots';
 }

div.glyphs {
}

div.clear {
  clear: both;
}

span.cmt {color: gray;}

[contenteditable="true"]:active, [contenteditable="true"]:focus{
    outline:none;
}

