@font-face {font-family:'0xA000'; src: url('0xA000.ttf');}
@font-face {font-family:'0xA000-Thin'; src: url('0xA000-Thin.ttf');}
@font-face {font-family:'0xA000-Light'; src: url('0xA000-Light.ttf');}
@font-face {font-family:'0xA000-Bold'; src: url('0xA000-Bold.ttf');}
@font-face {font-family:'0xA000-Contrast'; src: url('0xA000-Contrast.ttf');}
@font-face {font-family:'0xA000-Contrast-Mono'; src: url('0xA000-Contrast-Mono.ttf');}
@font-face {font-family:'0xA000-Square'; src: url('0xA000-Square.ttf');}
@font-face {font-family:'0xA000-Squareish'; src: url('0xA000-Squareish.ttf');}
@font-face {font-family:'0xA000-Square-Bold'; src: url('0xA000-Square-Bold.ttf');}
@font-face {font-family:'0xA000-Squareish-Bold'; src: url('0xA000-Squareish-Bold.ttf');}
@font-face {font-family:'0xA000-Squareish-Mono'; src: url('0xA000-Squareish-Mono.ttf');}
@font-face {font-family:'0xA000-Semibold'; src: url('0xA000-Semibold.ttf');}
@font-face {font-family:'0xA000'; font-weight: bold; src: url('0xA000-Bold.ttf');}
@font-face {font-family:'0xA000-Tiled'; src: url('0xA000-Tiled.ttf'); }
@font-face {font-family:'0xA000-Mono';              src: url('0xA000-Mono.ttf');}
@font-face {font-family:'0xA000-Mono'; font-weight: bold; src: url('0xA000-Mono.ttf');}
@font-face {font-family:'0xA000-Mono-Bold';         src: url('0xA000-Mono-Bold.ttf');}
@font-face {font-family:'0xA000-Mono-Light';         src: url('0xA000-Mono-Light.ttf');}
@font-face {font-family:'0xA000-Mono-Thin';         src: url('0xA000-Mono-Thin.ttf');}
@font-face {font-family:'0xA000-Mono-Semibold';         src: url('0xA000-Mono-Semibold.ttf');}
@font-face {font-family:'0xA000-Pixelated'; src: url('0xA000-Pixelated.ttf');}
@font-face {font-family:'0xA000-Pixelated-Mono';    src: url('0xA000-Pixelated-Mono.ttf');}
@font-face {font-family:'0xA000-Boxes-Mono';        src: url('0xA000-Boxes-Mono.ttf');}
@font-face {font-family:'0xA000-Boxes';     src: url('0xA000-Boxes.ttf');}
@font-face {font-family:'0xA000-Dots';      src: url('0xA000-Dots.ttf');}
@font-face {font-family:'0xA000-Dots-Mono';         src: url('0xA000-Dots-Mono.ttf');}
@font-face {font-family:'0xA000-Pen';       src: url('0xA000-Pen.ttf');}
@font-face {font-family:'0xA000-Pen-Mono';          src: url('0xA000-Pen-Mono.ttf');}
@font-face {font-family:'0xA000-Monochrome';src: url('0xA000-Monochrome.ttf');}
@font-face {font-family:'0xA000-Monochrome-Mono';src: url('0xA000-Monochrome-Mono.ttf');}



body       {font-family: '0xA000', 'Sans'; font-size: 21px;
            background-color: #f7f7f7; }
tt, pre    {font-family: '0xA000-Mono', 'Sans';}
b          {font-family: '0xA000-Bold'. 'Sans'; font-weight: normal;}
small      {font-size :  50%; }
h1         {font-size :  3em; font-family: '0xA000-Bold', 'Sans'; font-weight: normal; margin: 0.5em 0 0.25em}
h2         {font-size : 42px; font-family: '0xA000-Monochrome'; font-weight: normal; margin: 1.0em 0 0 0}
h3,h4      {font-size :1.5em; font-weight: normal; margin: 0 0 0 0}

li         {list-style-type: none; list-style: none; }
li:before  {content: "• "; position: relative -1em; overflow: visible;
            margin-left: -1.5em;}
ul         {padding-left: 1em}

em         {font-style: normal; color: #909;}
div        {margin-top: 1.0em;}
body       {margin: 0 auto; }
.waterfall div {margin: 0;padding:0}
a { color: #182; text-decoration:none}
a:hover    { text-decoration: underline }
.selected, .faces>a.selected  { color: #000;
                              text-decoration: underline;}
.sans      {font-family: '0xA000','Sans';}
.monochrome {font-family: '0xA000-Monochrome'.'Sans';}
.boxes     {font-family: '0xA000-Boxes','Sans';}
.monosans  {font-family: '0xA000-Mono','Sans';}
.copy      { text-align: right; margin-bottom: 4em;margin-top: 3em;}
/*
.content   {margin-left: 200px;margin-right:20px;margin-top: 1em;
            min-width: 20em; max-width: 45em;
           }
           */
.content   {margin-left: 2em; margin-right:2em; margin-top: 1em;
            min-width: 20em; max-width: 60em;
           }
           */

div.glyph {
  font-family: '0xA000', 'Sans';
  display: block;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
 .label  {
   margin:0;
   padding-top:0.3em;
   background: #eee;
 }
 .unicode { margin:0; padding-left:0.2em;
 }
 .reference {
   margin: 0;
   padding-right: 0.5em;
   padding-left: 0.5em;
 }
 .label2  {
   margin: 0;
   padding: 0;
   background: #eee;
   padding-top: 1px;
   padding-left: 0.2em;
 }

.rendering-Pixelated,
.rendering-Pixelated-Mono,
.rendering-Mono,
.rendering-Bold,
.rendering-Beta,
.rendering-Reference,
.rendering-Dots,
.rendering-Dots-Mono,
.rendering-Pen,
.rendering-Pen-Mono,
.rendering-Boxes,
.rendering {
   font-size: 40px;
   color: black;
   margin-top: 0.25em;
   margin-left: 0.5em;
   margin-bottom: 0.1em;
   background: white;
   padding: 0;
}

 .rendering-Reference {
   font-family: 'Sans';
   border: 1px solid gray;
 }
 .rendering-Pixelated {
   font-family: '0xA000-Pixelated', 'Sans';
   border: 1px solid gray;
 }
 .rendering-Beta {
   font-family: 'Beta', 'Sans';
   border: 1px solid gray;
 }
 .rendering-Pixelated-Mono {
   font-family: '0xA000-Pixelated-Mono', 'Sans';
   border: 1px solid gray;
 }
 .rendering-Mono {
   font-family: '0xA000-Mono', 'Sans';
   border: 1px solid gray;
 }
 .rendering-Bold {
   font-family: '0xA000-Bold', 'Sans';
   border: 1px solid gray;
 }
 .rendering {
   font-family: '0xA000', 'Sans';
   border: 1px solid gray;
 }
 .rendering-Dots {
   font-family: '0xA000-Dots', 'Sans';
   border: 1px solid gray;
 }
 .rendering-Dots-Mono {
   font-family: '0xA000-Dots-Mono';
   border: 1px solid gray;
 }
 .rendering-Pen {
   font-family: '0xA000-Pen', 'Sans';
   border: 1px solid gray;
 }
 .rendering-Pen-Mono {
   font-family: '0xA000-Pen-Mono', 'Sans';
   border: 1px solid gray;
 }
 .rendering-Boxes {
   font-family: '0xA000-Boxes', 'Sans';
   border: 1px solid gray;
 }
div.clear {
  clear: both;
}
span.cmt {color: gray;}
[contenteditable="true"]:active, [contenteditable="true"]:focus{
    outline:none;
}
p {
}
